/* // delete the following line if no text is used
// edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
*{
    margin: 0;
    box-sizing: border-box;
}
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #42A7A1;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 2.5%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffff;
  border-radius: 2.5%;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.4);
}

.header {
    display: flex;
    background-color: #F1BA64;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    color: #fff;
}

.header--title, .header--value {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.header--date, .header--label {
    font-size: 12px;
    font-weight: 400;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.legendas {
    justify-content: end;
    display: flex;
    gap: 40px;
    font-size: 10px;
    text-transform: bold;
}

.caption{
    position: relative;
}

.caption::after {
    content: "";
    height: 3px;
    position: absolute;
    width: 10px;
    top: calc(50% - 1px);
    border-radius: 2px;
    right: calc(100% + 10px);
}

.chart {
    width: 260px;
    height: 60px;
    position: relative;
}

.line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dedede;
    top: 0;
    left: 0;
    z-index: -1;
}

.line--2 {
    top: 50%;
}

.line--3 {
    top: 100%;
}

.circle {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 41px;
    left: 4px;
    cursor: pointer;
}

.tooltip {
    font-size: 14px;
    background: inherit;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    position:absolute;
    bottom:calc(100% + 4px);
    left: -10px;
    visibility: hidden;
    transform: translateY(10px);
    opacity: 0;
    transition: all .3s ease;
}

.tooltip--red::after{
    content:"";
    position:absolute;
    left: 3px;
    top:26px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 10px solid rgba(255, 58, 58, 0.74);
    border-radius:3px;
}

.tooltip--blue::after{
    content:"";
    position:absolute;
    left: 3px;
    top:26px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 10px solid rgb(52, 52, 252);
    border-radius:3px;
}

.circle:hover > .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.circle--red, .caption--red::after {
    background-color: rgba(255, 58, 58, 0.74);
}

.circle--blue, .caption--blue::after {
    background-color: rgb(52, 52, 252);
}

.circle--red-mon {
    top: 45px;
    left: 4px;
}

.circle--red-tue {
    top: 10px;
    left: 47px;
}

.circle--red-wed {
    top: 20px;
    left: 88px;
}

.circle--red-thur {
    top: 9px;
    left: 128px;
}

.circle--red-fri {
    top: 36px;
    left: 170px;
}

.circle--red-sat {
    top: 45px;
    left: 209px;
}
.circle--red-sun {
    top: 17px;
    left: 248px;
}

.circle--blue-mon {
    top: 58px;
    left: 4px;
}

.circle--blue-tue {
    top: 48px;
    left: 47px;
}

.circle--blue-wed {
    top: 63px;
    left: 88px;
}

.circle--blue-thur {
    top: 52px;
    left: 128px;
}

.circle--blue-fri {
    top: 59px;
    left: 170px;
}

.circle--blue-sat {
    top: 71px;
    left: 209px;
}

.circle--blue-sun {
    top: 62px;
    left: 248px;
}

.days {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    font-size: 8px;
    text-align: center;
    text-transform: uppercase;
}